<div class="container-fluiud">
	<nav class="navbar navbar-light bg-secondary">
		<p class="display-6 fw-bold mx-3 text-light shadow-lg bg-secondary mat-elevation-z9">
			Path Finder
		</p>
	  </nav>
	<div>
      <div class="row d-flex align-items-center m-2">
        <div class="col-lg-3">
			<label for="sp" class="form-label">
				<strong>Enter Your Starting Point :</strong>
			</label>
		</div>
		<div class="col-lg-3">
			<input type="text" #start class="col-lg-3 form-control">
		</div>
		<div class="col-lg-3">
			<label for="sp" class="form-label">
				<strong>Enter Your Destination :</strong>
			</label>
		</div>
		<div class="col-lg-3">
			<input type="text" #end class="col-lg-3 form-control">
		</div>
		</div>
	</div>
	  
</div>